In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
""" Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series."""


# To create a pandas series we need to use series() function available in pandas library
# there are many ways to create series by using lists and dictionary 



import pandas as pd

# By using lists
arr = [4, 8, 15, 23, 42]
series_1 = pd.Series(arr)
print(series_1)

print("")  # just for line break

# By using dictionaries
dictionary = {"a" : 4, "b" : 8, "c" : 15, "d" : 23, "e" : 42}  # we can use our own keys and data in values
series_2 = pd.Series(dictionary)
print(series_2)


# Hence printed the given data as series

0     4
1     8
2    15
3    23
4    42
dtype: int64

a     4
b     8
c    15
d    23
e    42
dtype: int64

In [3]:
""" Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it. """

# pandas is already imported
my_array = ["ayush", "raina", "IISC", "Bengaluru", "PW", "Skills", "Sudh Sir", "Krrish Sir", "ineuron", "Sanatammanahalli"]
my_series = pd.Series(my_array)
print(my_series)

# another method
my_next_series = pd.Series(["ayush", "raina", "IISC", "Bengaluru", "PW", "Skills", "Sudh Sir", "Krrish Sir", "ineuron", 
                            "Sanatammanahalli"], index = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"])
print(my_next_series)

# Done

0               ayush
1               raina
2                IISC
3           Bengaluru
4                  PW
5              Skills
6            Sudh Sir
7          Krrish Sir
8             ineuron
9    Sanatammanahalli
dtype: object
a               ayush
b               raina
c                IISC
d           Bengaluru
e                  PW
f              Skills
g            Sudh Sir
h          Krrish Sir
i             ineuron
j    Sanatammanahalli
dtype: object

In [4]:
""" Q3. Create a Pandas DataFrame that contains the following data: """

# To create a dataframe there are various methods available but in all those methods we need to use
# DataFrame() function which is already available in library


# By using dictionary
dict_1 = {"Name" : ["Alice", "Bob", "Claire"], "Age" : [25, 30, 27], "Gender" : ["Female", "Male", "Female"]}
my_dataframe_1 = pd.DataFrame(dict_1)
print(my_dataframe_1)

print(" ")   # just for line break

# By using list of dictionaries
my_array_1 = [{"Name" : "Alice", "Age" : 25, "Gender" : "Female"}, {"Name" : "Bob", "Age" : 30, "Gender" : "Male"},
             {"Name" : "Claire", "Age" : 27, "Gender" : "Female"}]
my_dataframe_2 = pd.DataFrame(my_array_1)
print(my_dataframe_2)

print("")  # For line breaks

# By using tuples
my_tuples = [("Alice", 25, "Female"), ("Bob", 30, "Male"), ("Claire", 27, "Female")]
my_columns = ["Name", "Age", "Gender"]
my_dataframe_3 = pd.DataFrame(my_tuples, columns = my_columns)
print(my_dataframe_3)


# There are many more methods but the third one i feel is easy to use

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [5]:
""" Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example. """

"""In Pandas, a DataFrame is a 2-dimensional labeled data structure that can store data of different types 
(numeric, string, boolean, etc.) in columns. It is similar to a spreadsheet or a SQL table, where each column 
can have a different data type. A DataFrame can be thought of as a collection of Pandas Series that share the same index.

On the other hand, a Pandas Series is a one-dimensional labeled array that can hold data of any type. It can be created
from a list, array, dictionary, or other data structures, and each element in the Series is associated with a unique label,
called the index."""


# creating dataframe
# By using dictionary
print("This is a DataFrame")
dict_1 = {"Name" : ["Alice", "Bob", "Claire"], "Age" : [25, 30, 27], "Gender" : ["Female", "Male", "Female"]}
my_dataframe_1 = pd.DataFrame(dict_1)
print(my_dataframe_1)


print("") # for line break

# creating Series
# By using dictionaries
print("This is Pandas Series")
dictionary = {"a" : 4, "b" : 8, "c" : 15, "d" : 23, "e" : 42}  # we can use our own keys and data in values
series_2 = pd.Series(dictionary)
print(series_2)

This is a DataFrame
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

This is Pandas Series
a     4
b     8
c    15
d    23
e    42
dtype: int64

In [6]:
""" Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions? """



# There are many functions we use to manipulate data in pandas data frame, some of them are

# head() 
""" this is used to read top entries, its default value is 5 but we can enter any value and it will show that
number of entries from start """
 
# tail()
""" this is used to read entries from last, default value of this is also 5 but we can enter any value and it will show that
number of entries from end """

# column
""" this is used to get list of columns in data frame """

# info()
"""  This function provides a summary of the DataFrame, including the data types of each column, the number of non-null
values, and the memory usage. """

print("")

In [7]:
""" Q6. Which of the following is mutable in nature Series, DataFrame, Panel? """

# Series and dataframes are mutable as we can change data in it but Panel is not mutable
# Also Panel is not used so much as compared to Series and Dataframes
print("")

In [11]:
""" Q7. Create a DataFrame using multiple Series. Explain with an example."""

# We can create a DataFrame using multiple series by concatenating them
# lets do 3rd Question again by this method\

# creating 3 series
series_1 = pd.Series(["Alice", "Bob", "Claire"], name = "Name")
series_2 = pd.Series([25, 20, 27], name = "Age")
series_3 = pd.Series(["Female", "Male", "Female"], name = "Gender")

# now i need to concatenate using column axis
df = pd.concat([series_1, series_2, series_3], axis = 1)  # axis = 0 if we want to concat around indexes 
# axis = 1 means concatenate using columns


# print dataframe
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   20    Male
2  Claire   27  Female